{
  "plugins": ["@ianvs/prettier-plugin-sort-imports"],
  "singleQuote": true,
  "trailingComma": "es5",
  "tabWidth": 2,
  "arrowParens": "always",
  "semi": false,
  "singleAttributePerLine": false,
  "jsxSingleQuote": true,
  "printWidth": 100,
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "",
    "^[@]app",
    "",
    "^[@]pages",
    "",
    "^[@]widgets",
    "",
    "^[@]features",
    "",
    "^[@]entities",
    "",
    "^[@]shared",
    "",
    "^[@]",
    "",
    "^[./].*(?<!\\.(c|le|sc)ss)$",
    "",
    "\\.(c|le|sc)ss$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}