.size_3 {
  font: var(--font-text-default);
}

.size_2 {
  font: var(--font-text-helptext);
}

.size_1 {
  font: var(--font-text-footnote);
}

.weight_400 {
  font-weight: 400;
}

.weight_700 {
  font-weight: 700;
}

.italic {
  font-style: italic;
}

.normal {
  font-style: normal;
}
